body{
    font-family: 'DM Sans', sans-serif;

}

#header1{
    margin: 0px 10%;
    border: 1px solid green;
    background-image: url(/myFirstLayout/assests/images/MaskGroup.png);
    background-color: #F9FFF2;
    background-size: cover;

}

.button {
    width: 80px;
    border-radius: 5px;
    display: flex;
    font-family: 'DM Sans';
    color: white;
    background-color: blue;
    text-align: center;    
    display: inline-block;    
}

#nav1{
    margin: 0px 20%;
    width: auto;
    height: 90px;      
    /*border: 1px solid purple;*/
}

/*nav ul li{
    display: flex;    
    flex-direction: row; 
    }
*/

#div1{
    margin: 0px 25%;
    /*border: 1px solid blue;*/
    text-align: center;
    padding-top: 20px;
}

#header2{
    margin: 0px 10%;
    /*border: 1px solid green;*/
    font-size: 190%;
}

#nav3{
    margin: 0px 25%;
    font-size: 70%;
    text-align: center;
    padding-bottom: 8%;
    padding-top: 1%;

}

nav ul li{
    float: right;
    text-align: right;
    list-style: none;
    margin: 10px;

}

#main1{
    border: 1px solid red;
    margin: 0px 10%;
}

#section1{ 
    display:flex;
    flex-direction: row;   
    border: 1px solid purple ;
    margin: 0px 25%;
    padding-top: 10px;
    flex-wrap: wrap;
}

article{
    /*display: inline-block; "Se utiliza cuando no estas usando flex"*/
    border: 1px solid burlywood;
}

#article2{

    background-color: blue;
}

.buttonplans{
    width: 150px;
    border-radius: 5px;
    display: flex;
    font-family: 'DM Sans';
    color: white;
    background-color:blue;
    text-align: center;    
    display: inline-block; 
}

.buttonplans2{
    width: 150px;
    border-radius: 5px;
    display: flex;
    font-family: 'DM Sans';
    color: blue;
    background-color:white;
    text-align: center;    
    display: inline-block; 
}

/*
Datos importantes sobre flex:
display:propiedad;
flex-direction:propiedad;
*/